services:
  mysql:
    image: mysql:8
    container_name: mysql_app
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_DATABASE: "${DB_NAME}"
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d

  app:
    build: .
    container_name: node_app
    ports:
      - "3000:3000"
    environment:
      PORT: "${PORT}"
      DB_HOST: "${DB_HOST}"
      DB_USER: "${DB_USER}"
      DB_PASSWORD: "${DB_PASSWORD}"
      DB_NAME: "${DB_NAME}"
    depends_on:
      - mysql
    volumes:
      - .:/app
    command: ["node", "server.js"]

volumes:
  mysql_data:
