name: CD - Build & Push Image to GHCR

on:
  push:
    branches: ["main"]
    paths:
      - "Dockerfile"
      - "**/*.js"
      - "package.json"
      - "package-lock.json"
      - ".github/workflows/cd.yml"

jobs:
  build-and-push-gcr:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write   # Necesario para subir la imagen a GHCR

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image to GHCR
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}/proyecto-nodejs:latest
