name: CI - Build & Push Docker Image

on:
  push:
    branches:
      - main
      - master
      - develop

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository }}/proyecto-hdw:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository }}/proyecto-hdw:latest
