name: Añadir Issues/PR al Project

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  add_to_project:
    runs-on: ubuntu-latest
    steps:
      - name: Añadiendo al GitHub Project
        uses: actions/add-to-project@v0.6.0
        with:
          project-url: https://github.com/orgs/Herramientas-de-Desarrollo-Web/projects/1
          github-token: ${{ secrets.GITHUB_TOKEN }}
