name: Auto-add Issues & PRs to Project

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  add-to-project:
    runs-on: ubuntu-latest

    permissions:
      issues: write
      pull-requests: write
      project: write
      contents: read

    steps:
      - name: Add item to Project V2
        uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/orgs/Herramientas-de-Desarrollo-Web/projects/1
          github-token: ${{ secrets.GITHUB_TOKEN }}
